.CategoriesPage{ 
    background-color: rgb(255, 255, 255);
    min-height: calc(100dvh - 150px);
    max-height: calc(100dvh - 150px);
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    font-weight: bolder;
    text-align: center;

    .ChosenCat{ 
        font-size: 5rem;
    }
}