.HostGame {
    min-height: calc(100dvh - 50px);
    max-height: calc(100dvh - 50px);
    display: flex;
    flex-direction: column;

    /* HEADER */
    .Header {
        background: linear-gradient(140deg, var(--normal-orange) 50%, var(--cocoa-orange) 50%);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        height: 60px;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 3rem;
        font-weight: bold;

        svg {
            position: absolute;
            left: 10px;
            fill: var(--slate-gray);
        }
    }

    .Content {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .NameInput {
            background-color: var(--lavender);
            max-width: 90%;
            padding: 0px;
            height: 58px;
            border-radius: 25px;
            outline: 1px solid var(--slate-gray);
            border: none;
            overflow: hidden;
            font-size: 1.8rem;
            text-align: center;
            caret-color: var(--slate-gray);
            font-weight: bold;
            color: var(--slate-gray);
        }

        .NameInput:focus {
            border: 1px solid var(--cocoa-orange);
            outline: none;
        }
    }

}